asgiref==3.7.2
black==23.11.0
cffi==1.16.0
click==8.1.7
colorama==0.4.6
cryptography==41.0.7
Django==3.2.15
django-db-connection-pool==1.2.4
django-rest-framework==0.1.0
djangorestframework==3.14.0
drf-jwt==1.19.1
drf-spectacular==0.20.0
greenlet==3.0.1
gunicorn==21.2.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==4.0.0
pycparser==2.21
PyJWT==2.8.0
pytz==2023.3.post1
SQLAlchemy==2.0.23
sqlparams==5.1.0
sqlparse==0.4.4
tomli==2.0.1
typing-extensions==4.8.0
